
%h3.has-text-success.is-unselectable
    cards
    %span.is-size-6.has-text-grey ( #{ @customer.sources.count } )

- if @card

    .card.has-background-black-ter
        .card-content

            %a.is-editable.is-unselectable{href: '#card'}

                %p.title.is-size-5.has-text-light.is-marginless
                    %i.icon.is-medium.ion-md-card
                    = @card.metadata['number'] ? @card.metadata['number'] : @card.last4

                .columns.is-marginless

                    .column.is-marginless.is-paddingless
                        %p.is-size-6.has-text-grey-light.is-marginless
                            %i.icon.is-medium.ion-md-calendar
                            = [@card.exp_month, @card.exp_year].join '&nbsp;/&nbsp;'

                    - if @card.metadata['cvc']
                        .column.is-marginless.is-paddingless
                            %p.is-size-6.has-text-grey-light.is-marginless
                                %i.icon.is-medium.ion-md-code
                                = @card.metadata['cvc']

            %hr.has-background-black-bis

            .wrapper    
                .columns.is-marginless

                    - if @card.country
                        .column.is-marginless.is-paddingless
                            %p.is-size-6.has-text-grey-light.is-marginless
                                %i.icon.is-medium.ion-md-globe
                                = @card.country

                    - if @card.brand
                        .column.is-marginless.is-paddingless
                            %p.is-size-6.has-text-grey-light.is-marginless
                                %i.icon.is-medium.ion-md-business
                                = @card.brand

            %p.is-size-6.has-text-grey-light.is-marginless.is-family-code.needs-a-break<
                %i.icon.is-medium.ion-md-key.is-nudged-left
                = @card.id

        .card-footer.is-borderless.is-unselectable

            %a.card-footer-item.is-medium.is-fullwidth{href: '#remove-card'}
                %h1.is-size-6.has-text-danger.is-marginless
                    %i.icon.ion-md-close
                    %i.icon.ion-md-card
                    %span.is-uppercase.has-text-weight-semibold remove
                    %i.icon

    .spacer.block

.card.has-background-black-ter
    .card-footer.is-borderless.is-unselectable
        %a.add.card-footer-item.is-medium.is-fullwidth{href:'#card'}
            %h1.is-size-6.has-text-primary.is-marginless
                %i.icon.ion-md-add
                %i.icon.ion-md-card
                %span.is-uppercase.has-text-weight-semibold add
                %i.icon

- @customer.sources.each do | c |      

    %a{href: "/#{ @customer.id }/#{ c.id }"}

        .card{class: @card && @card.id == c.id ? 'has-background-dark' : 'has-background-black-ter'}
            .card-content.is-unselectable
                %p.title.is-size-5.has-text-light.is-marginless #{ c.metadata['number'] ? c.metadata['number'] : c.last4 }
                %p.subtitle.is-size-6.has-text-grey-lighter.is-marginless #{ [c.exp_month, c.exp_year].join '&nbsp;/&nbsp;' }
                %p.is-size-7.has-text-grey.is-marginless.is-pulled-right.is-family-code #{ c.id }
