
%h3.has-text-warning.is-unselectable
    charges
    %span.is-size-6.has-text-grey ( #{ @charges.count } )

- if @charge

    .card.has-background-black-ter
        .card-content

            %a.is-editable.is-unselectable{href: '#charge'}

                %p.title.is-size-5.has-text-light.is-marginless
                    %i.icon.is-medium.ion-logo-usd
                    = "%.2f" % ( @charge.amount.to_f / 100 )
                    %span.is-size-6.has-text-grey.is-nudged-right #{ @charge.currency.upcase }

                %p.is-size-6.has-text-grey-light.is-marginless
                    %i.icon.is-medium.ion-md-help-circle
                    = @charge.failure_message ? "failed &mdash; #{ @charge.failure_message.downcase[0..-2] }" : ( @charge.refunded ? :refunded : ( @charge.captured ? :captured : :authorized ))

            %hr.has-background-black-bis

            %p.is-size-6.has-text-grey-light.is-marginless.is-family-code.needs-a-break<
                %i.icon.is-medium.ion-md-key.is-nudged-left
                = @charge.id

    .spacer.block

.card.has-background-black-ter
    .card-footer.is-borderless.is-unselectable
        %a.add.card-footer-item.is-medium.is-fullwidth{href: '#charge'}
            %h1.is-size-6.has-text-primary.is-marginless
                %i.icon.ion-md-add
                %i.icon.ion-logo-usd
                %span.is-uppercase.has-text-weight-semibold add
                %i.icon

- @charges.each do | c |

    %a{href: "/#{ @customer.id }/#{ @card.id }/#{ c.id }"}

        .card{class: @charge && @charge.id == c.id ? 'has-background-dark' : 'has-background-black-ter'}
            .card-content.is-unselectable
                %p.title.is-size-5.has-text-light.is-marginless
                    = "$ %.2f" % ( c.amount.to_f / 100 )
                    %span.is-size-6.has-text-grey.is-nudged-right #{ c.currency.upcase }
                %p.subtitle.is-size-6.has-text-grey-lighter.is-marginless
                    = c.failure_message ? :failed : ( c.refunded ? :refunded : ( c.captured ? :captured : :authorized ))
                %p.is-size-7.has-text-grey.is-marginless.is-pulled-right.is-family-code #{ c.id }
