
%h3.has-text-info.is-unselectable
    customers
    %span.is-size-6.has-text-grey ( #{ @customers.count } )

- if @customer

    .card.has-background-black-ter
        .card-content

            - if @customer.description || @customer.email
                
                %a.is-editable.is-unselectable{href: '#customer'}

                    %p.title.is-size-5.has-text-light.is-marginless
                        - if @customer.description
                            %i.icon.is-medium.ion-md-person
                            = @customer.description

                    %p.is-size-6.has-text-grey-lighter.is-marginless.needs-a-break
                        - if @customer.email
                            %i.icon.is-medium.ion-md-mail
                            = @customer.email

                    %hr.has-background-black-bis

            %p.is-size-6.has-text-grey-light.is-marginless
                %i.icon.is-medium.ion-md-time
                = DateTime.strptime("#{ @customer.created }", '%s').strftime '%F &nbsp&middot;&nbsp %T'

            %p.is-size-6.has-text-grey-light.is-marginless.is-family-code.needs-a-break<
                %i.icon.is-medium.ion-md-key.is-nudged-left
                = @customer.id

        .card-footer.is-borderless.is-unselectable

            %a.card-footer-item.is-medium.has-text-danger.is-fullwidth{href: '#remove-customer'}
                %h1.is-size-6.has-text-danger.is-marginless
                    %i.icon.ion-md-close
                    %i.icon.ion-md-person
                    %span.is-uppercase.has-text-weight-semibold remove
                    %i.icon

    .spacer.block

.card.has-background-black-ter
    .card-footer.is-borderless.is-unselectable
        %a.add.card-footer-item.is-medium.is-fullwidth{href: '#customer'}
            %h1.is-size-6.has-text-primary.is-marginless
                %i.icon.ion-md-add
                %i.icon.ion-md-person
                %span.is-uppercase.has-text-weight-semibold add
                %i.icon

- @customers.each do | c |      

    %a{href: "/#{ c.id }"}
        .card{class: @customer && @customer.id == c.id ? 'has-background-dark' : 'has-background-black-ter'}
            .card-content.is-unselectable
                %p.title.is-size-5.has-text-light.is-marginless #{ c.description }
                %p.subtitle.is-size-6.has-text-grey-lighter.is-marginless #{ c.email }
                %p.is-size-7.has-text-grey.is-marginless.is-pulled-right.is-family-code #{ c.id }
