
.modal#api
    .modal-background
    .modal-content

        %form{action: '/api', method: :POST, autocomplete: :off}

            .columns.is-marginless
                .column.is-10.is-offset-1

                    .field
                        .control
                            %input.input.is-large.is-hazy.is-family-code.has-text-centered{name: :js_api_key, type: :text, required: true, maxlength: 32, placeholder: 'public key', spellcheck: :false, value: @stripe_js_api_key}

                    .field
                        .control
                            %input.input.is-large.is-hazy.is-family-code.has-text-centered{name: :api_key, type: :text, required: true, maxlength: 32, placeholder: 'secret key', spellcheck: :false, value: Stripe.api_key}

            .block.spacer
            .field
                .control.has-text-centered
                    %button.button.submit.is-large.is-uppercase.is-primary.is-outlined update

    %button.modal-close.is-large


.modal#customer
    .modal-background
    .modal-content

        %form{action: "/#{ @customer.id if @customer }", method: :POST, autocomplete: :off}

            .columns.is-marginless
                .column.is-10.is-offset-1

                    .field
                        .control
                            %input.input.is-large.is-hazy.has-text-centered{name: :description, type: :text, required: true, maxlength: 256, placeholder: :name, value: "#{ @customer.description if @customer }"}

                    .field
                        .control
                            %input.input.is-large.is-hazy.has-text-centered{name: :email, type: :email, maxlength: 256, placeholder: :email, spellcheck: :false, value: "#{ @customer.email if @customer }"}

            .block.spacer
            .field
                .control.has-text-centered
                    %button.button.submit.is-large.is-uppercase.is-primary.is-outlined update

    %button.modal-close.is-large


- if @customer

    .modal#card
        .modal-background
        .modal-content

            %form{action: "/#{ @customer.id }/#{ @card.id if @card }", method: :POST, autocomplete: :off}

                .columns.is-marginless
                    .column.is-10.is-offset-1

                        .columns.is-marginless
                        
                            .column
                                .field
                                    .control
                                        %input.input.is-large.is-hazy.has-text-centered{name: :number, type: :number, required: true, min: 0, max: 9999999999999999, placeholder: :number, value: "#{ @card and @card.metadata['number'] ? @card.metadata['number'] : @card.last4 }"}

                        .columns.is-marginless

                            .column
                                .field
                                    .control
                                        %input.input.is-large.is-hazy.has-text-centered{name: :exp_month, type: :number, required: true, min: 1, max: 12, placeholder: :month, value: "#{ @card.exp_month if @card }"}

                            .column
                                .field
                                    .control
                                        %input.input.is-large.is-hazy.has-text-centered{name: 'exp_year', type: :number, required: true, min: Time.now.year, max: Time.now.year + 10, placeholder: :year, value: "#{ @card.exp_year if @card }"}

                            .column.is-offset-one-quarter
                                .field
                                    .control
                                        %input.input.is-large.is-hazy.has-text-centered{name: :cvc, type: :number, min: 100, max: 999, placeholder: :cvv, value: "#{ @card.metadata['cvc'] if @card and @card.metadata['cvc'] }"}

                .block.spacer
                .field
                    .control.has-text-centered
                        %button.button.submit.is-large.is-uppercase.is-primary.is-outlined update

        %button.modal-close.is-large


    .modal#remove-customer
        .modal-background
        .modal-content.is-unselectable

            %form{action: "/#{@customer.id}/delete", method: :POST}

                .field
                    .control.has-text-centered
                        %h1.title.has-text-white-bis #{ @customer.description }

                .block.spacer
                .field
                    .control.has-text-centered
                        %button.button.submit.is-large.is-uppercase.is-danger.is-outlined remove

        %button.modal-close.is-large


    - if @card
    
        .modal#charge
            .modal-background
            .modal-content

                %form{action: "/#{@customer.id}/#{@card.id}/#{@charge.id if @charge}", method: :POST, autocomplete: :off}

                    .is-hidden-touch.is-pulled-left.is-nudged-down.is-unselectable
                        %h1.has-text-success.is-size-1 $

                    .columns.is-marginless

                        .column
                            .field
                                .control
                                    %input.input.is-large.is-hazy{name: :amount, type: :number, required: true, step: 0.01, min: 0.01, max: 999999.99, placeholder: :amount, value: "#{ "%.2f" % (@charge.amount.to_f / 100) if @charge }"}

                        .column.is-unselectable
                            .field
                                .control.has-text-centered
                                    %label{class: (@charge and (@charge.captured or @charge.refunded or @charge.failure_message)) ? 'toggle readonly' : 'toggle'}
                                        %input.toggle__input{name: :capture, type: :checkbox, checked: (@charge and @charge.captured)}
                                        %span.toggle__label
                                            %span.toggle__text.has-text-light.is-size-4 capture

                        .column.is-unselectable
                            .field
                                .control.has-text-centered
                                    %label{class: (@charge and (@charge.refunded or @charge.failure_message)) ? 'toggle readonly' : 'toggle'}
                                        %input.toggle__input{name: :refund, type: :checkbox, checked: (@charge and @charge.refunded)}
                                        %span.toggle__label
                                            %span.toggle__text.has-text-light.is-size-4 refund

                    .block.spacer
                    .field
                        .control.has-text-centered
                            %button.button.submit.is-large.is-uppercase.is-primary.is-outlined update

            %button.modal-close.is-large


        .modal#remove-card
            .modal-background
            .modal-content.is-unselectable

                %form{action: "/#{@customer.id}/#{@card.id}/delete", method: :POST}

                    .field
                        .control.has-text-centered
                            %h1.title.has-text-white-bis #{ @card.metadata['number'] ? @card.metadata['number'] : @card.last4 }

                    .block.spacer
                    .field
                        .control.has-text-centered
                            %button.button.submit.is-large.is-uppercase.is-danger.is-outlined remove

            %button.modal-close.is-large
