
- if flash

    %article.message.is-danger.is-hazy
        .message-body #{ flash }

#desktop.columns.is-hidden-touch

    #customers.column.is-one-third
        = haml :_customers

    - if @customer

        #cards.column.is-one-third
            = haml :_cards 

    - if @card

        #charges.column.is-one-third
            = haml :_charges 


#touch.columns.is-hidden-desktop

    - if @card

        #charges.column.is-one-third
            = haml :_charges 

    - if @customer

        #cards.column.is-one-third
            = haml :_cards 

    #customers.column.is-one-third
        = haml :_customers
