!!!
%html.has-background-black-bis

    %head

        %title presti

        %meta{charset: 'utf-8'}
        %meta{name: :viewport, content: 'width=device-width, initial-scale=1'}
        
        %link{rel: :stylesheet, href: '/vendor/bulma.css'}
        %link{rel: :stylesheet, href: '/vendor/ionicons.css'}
        %link{rel: :stylesheet, href: '/vendor/toggle.css'}
        %link{rel: :stylesheet, href: '/app.css'}

    %body

        %section.section

            .title.container.is-unselectable

                %a{href: '/'}
                    %h1.title.has-text-light presti

                %a{href: '#api'}
                    %h2.subtitle.is-size-6-touch.has-text-grey.is-family-code.is-editable #{ @stripe_js_api_key }

                %a{href: '#api'}
                    %h2.subtitle.is-size-6-touch.has-text-grey.is-family-code.is-editable #{ Stripe.api_key }

            .content.container.has-text-light #{ yield }

        = haml :_modals

        %script{src: 'https://js.stripe.com/v2/'}
        %script{src: '/vendor/jquery.js'}
        %script{src: '/app.js'}

        %script Stripe.setPublishableKey('#{ @stripe_js_api_key }');
