body, button, input, select, textarea { font-family: 'Libre Franklin', sans-serif; }

.is-family-code, .is-family-monospace { font-family: 'Inconsolata', monospace !important; }

.is-borderless { border: 0; }

.is-nudged-up { margin-top: -4px; }

.is-nudged-down { margin-top: 4px; }

.is-nudged-left { margin-right: 4px; }

.is-nudged-right { margin-left: 4px; }

.needs-a-break { word-wrap: break-word; }

.is-editable::after {
    color: #e3e3e3;
    content: " \f2db";
    font-family: 'Ionicons';
    opacity: 0;
    padding: 8px 16px;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity .16s linear;
}

.is-editable:hover::after { opacity: .5; }

.is-hazy {
    background-color: #d3d3df;
    background-color: rgba(242, 242, 255, 0.76) !important;
}

.is-hazy:focus {
    background-color: #e9e9ef;
    background-color: rgba(242, 242, 255, 0.88) !important;
}

input.is-hazy {
    background-color: #c3c3cf;
    background-color: rgba(242, 242, 255, 0.64) !important;
    color: #0a0a0a;
}

.modal-background {
    background-color: #0a0a0a;
    background-color: rgba(10,10,10,.849);
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -moz-appearance:none;
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
}
